{% extends 'base.html' %}
{% load static %}

{% block title %}Portada{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/output.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
{% endblock %}

{% block content %}

<div class="flex flex-col h-screen">
    <div class="flex">
        <h1 class="text-4xl text-blue-900 dark:text-gray-200 items-start px-4">Portada</h1>
        <div class="dropdown">
            <div id="dropdownButton" tabindex="0" role="button" class="btn text-gray-700 bg-gray-100 rounded-lg dark:bg-gray-700 dark:text-gray-200 w-32 m-1 shadow-md hover:bg-gray-300 dark:hover:bg-gray-800">
                Temática 
            </div>
            <ul tabindex="0" class="bg-gray-100 dark:bg-gray-700 dropdown-content z-[1] menu p-2 shadow rounded-box w-32">
                <li><a class="text-gray-700 dark:text-gray-100" onclick="updateChart('topics')">Temática</a></li>
                <li><a class="text-gray-700 dark:text-gray-100" onclick="updateChart('sentiments')">Sentimiento</a></li>
                <li><a class="text-gray-700 dark:text-gray-100" onclick="updateChart('languages')">Lenguage</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn text-gray-700 bg-gray-100 rounded-lg dark:bg-gray-700 dark:text-gray-200 w-32 m-1 shadow-md hover:bg-gray-300 dark:hover:bg-gray-800 flex justify-center items-center">
                <div class="flex items-center"> <!-- Container to center the text and SVG -->
                    <span class="mr-2 ml-2">General</span> <!-- Text -->
                    <svg class="w-6 h-6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <!-- SVG Icon -->
                        <rect x="0" fill="none" width="24" height="24"/>
                        <g><path d="M7 10l5 5 5-5"/></g>
                    </svg>
                </div>
            </div>            
            <ul tabindex="0" class="bg-gray-100 dark:bg-gray-700 dropdown-content z-[1] menu p-2 shadow rounded-box w-26">
                <li><a href="/" class="text-gray-700 dark:text-gray-100">General</a></li>
                <li><a href="/by-party" class="text-gray-700 dark:text-gray-100">Por partido</a></li>
                <li><a href="/by-politician" class="text-gray-700 dark:text-gray-100">Por político</a></li>
            </ul>
        </div>
    </div>
    <div class="grid grid-cols-2 sm:h-full">
        <div class="p-4">
            <div id="pp" class="bg-white h-96 dark:bg-gray-700 rounded-lg shadow-md flex flex-col justify-center items-center p-4">
                <img src="{% static 'images/pp.png' %}" alt="PP" class="w-24 h-20 inline-block object-contain">
                <canvas id="ppChart"></canvas>
            </div>
        </div>
        <div class="p-4">
            <div id="psoe" class="bg-white h-96 dark:bg-gray-700 rounded-lg shadow-md flex flex-col justify-center items-center p-4">
                <img src="{% static 'images/psoe.png' %}" alt="PSOE" class="w-20 h-16 inline-block object-contain">
                <canvas id="psoeChart"></canvas>
            </div>
        </div>
        <div class="p-4">
            <div id="vox" class="bg-white h-96 dark:bg-gray-700 rounded-lg shadow-md flex flex-col justify-center items-center p-4">
                <img src="{% static 'images/vox.png' %}" alt="VOX" class="w-16 h-14 inline-block object-contain">
                <canvas id="voxChart"></canvas>
            </div>
        </div>
        <div class="p-4">
            <div id="sumar" class="bg-white h-96 dark:bg-gray-700 rounded-lg shadow-md flex flex-col justify-center items-center p-4">
                <img src="{% static 'images/sumar.png' %}" alt="SUMAR" class="w-20 h-16 inline-block object-contain">
                <canvas id="sumarChart"></canvas>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrascript %}
<script>
    let dict_general = '{{dict_general | escapejs}}';
    let jsonData = JSON.parse(dict_general);

    let chartInstances = [];

    function updateChart(dropdownOption) {
        let arrowSVG = '<svg class="w-6 h-6 ml-2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
               '<rect x="0" fill="none" width="24" height="24"/>' +
               '<g><path d="M7 10l5 5 5-5"/></g></svg>';

        // Update dropdown text with SVG
        let dropdownText = dropdownOption === 'topics' ? 'Temática' :
                            dropdownOption === 'sentiments' ? 'Sentimiento' :
                            dropdownOption === 'languages' ? 'Lenguaje' :
                            'Dropdown';
        let dropdownContent = '<div class="flex items-center">' +
                                '<span class="mr-2 ml-2">' + dropdownText + '</span>' +
                                arrowSVG +
                            '</div>';
        document.getElementById('dropdownButton').innerHTML = dropdownContent;


        // Destroy previous charts
        chartInstances.forEach(chart => chart.destroy());
        chartInstances = []; // Clear the array

        var labelDescriptionsBar = {
            "Economía": "Asuntos financieros y comerciales de un país",
            "Salud": "Temas relacionados con la atención médica y el bienestar físico y mental.",
            "Educación": "Asuntos relacionados con el sistema educativo y la enseñanza.",
            "Medio ambiente": "Problemas ambientales y conservación de recursos naturales.",
            "Derechos civiles": "Derechos y libertades básicas de los ciudadanos frente al Estado.",
            "Inmigración": "Movimiento de personas de un país a otro para establecerse o trabajar.",
            "Seguridad nacional": "Protección del Estado contra amenazas internas y externas.",
            "Política exterior": "Relaciones con otros países y organizaciones internacionales.",
            "Empleo": "Asuntos relacionados con el trabajo y la contratación laboral.",
            "Criminalidad": "Delitos y actividades criminales dentro de la sociedad.",
            "Impuestos": "Cargas financieras impuestas por el gobierno a los contribuyentes.",
            "Bienestar social": "Programas y políticas para el bienestar general de la sociedad.",
            "Tecnología": "Desarrollo y aplicación de conocimientos técnicos y científicos.",
            "Energía": "Producción y consumo de recursos energéticos.",
            "Vivienda": "Acceso a viviendas y políticas relacionadas con la vivienda.",
            "Corrupción": "Uso indebido de poder para obtener beneficios",
            "Libertad de prensa": "Derecho a la libertad de expresión y prensa sin censura.",
            "Igualdad de género": "Trato igualitario entre hombres y mujeres en la sociedad.",
            "Diversidad y discriminación": "Respeto de la diversidad cultural y la eliminación de la discriminación.",
            "Pobreza": "Escasez de recursos económicos y condiciones de vida precarias.",
            "Infraestructura": "Estructuras y servicios básicos necesarios para el funcionamiento de una sociedad.",
            "Religión": "Creencias y prácticas espirituales y religiosas.",
            "Derechos de las minorías": "Protección de los derechos de grupos minoritarios dentro de la sociedad.",
            "Paz y conflicto": "Resolución de conflictos y promoción de la paz en el ámbito nacional e internacional.",
            "Defensa": "Protección y seguridad militar del país.",
            "Legislación": "Elaboración y aplicación de leyes y regulaciones.",
            "Presupuesto": "Asignación de recursos financieros para programas y actividades gubernamentales.",
            "Justicia": "Sistema legal y administración de la ley.",
            "ETA": "Grupo separatista vasco y sus actividades políticas y violentas.",
            "Historia reciente de españa": "Eventos y desarrollos significativos en la historia contemporánea de España.",
            "Terrorismo": "Uso de la violencia y el terror con fines políticos.",
            "Acusaciones políticas": "Alegaciones y acusaciones contra figuras políticas.",
            "Campaña electoral": "Actividades y estrategias durante los períodos electorales."
        };

        // Create new charts
        let chartOptionsBar = {
            scales: {
                xAxes: [{
                    scaleLabel: {
                            display: true,
                            labelString: 'Temáticas',
                            fontColor: 'rgb(167 174 188)'
                        },
                    ticks: {
                        display: false
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                            display: true,
                            labelString: 'Porcentaje (%)',
                            fontColor: 'rgb(167 174 188)'
                        },
                        ticks: {
                            beginAtZero: true,
                            fontColor: 'rgb(167 174 188)'
                        }
                }]
            },
            legend: {
                display: false
            },
            tooltips: {
                callbacks: {
                    title: function(tooltipItem, data) {
                        return data.labels[tooltipItem[0].index];
                    },
                    label: function(tooltipItem, data) {
                        var label = data.labels[tooltipItem.index];
                        var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                        var description = labelDescriptionsBar[label] || '';
                        return value + " " + description ;
                    }
                }
            },
            responsive: true,
        };

        if (dropdownOption === 'sentiments') {
            createPieCharts('pie', dropdownOption);
        } else if (dropdownOption === 'languages') {
            createPieCharts('doughnut', dropdownOption);
        } else {
            createBarCharts(dropdownOption, chartOptionsBar);
        }
    }

    function snakeToTitleCase(str, choices) {
            for (var i = 0; i < choices.length; i++) {
                if (choices[i][0] === str) {
                    return choices[i][1];
                }
            }
            // If no match found, return original string
            return str.replace(/_/g, ' ')
                    .replace(/\b\w/g, function(char) {
                        return char.toUpperCase();
                    });
        }

    function createPieCharts(type, dropdownOption) {
            SENTIMENT_CHOICES = [
                ["enojo", "Enojo"],
                ["frustracion", "Frustración"],
                ["pasion", "Pasión"],
                ["entusiasmo", "Entusiasmo"],
                ["preocupacion", "Preocupación"],
                ["confianza", "Confianza"],
                ["desesperacion", "Desesperación"],
                ["optimismo", "Optimismo"],
                ["satisfaccion", "Satisfacción"],
                ["escepticismo", "Escepticismo"],
                ["desden", "Desdén"],
                ["empatia", "Empatía"]
            ];
            LANGUAGE_CHOICES = [
                ["formal", "Formal"],
                ["tecnico", "Técnico"],
                ["emocional", "Emocional"],
                ["persuasivo", "Persuasivo"],
                ["retorico", "Retórico"],
                ["bipartidista", "Bipartidista"],
                ["partidista", "Partidista"],
                ["populista", "Populista"],
                ["consenso", "Consenso"],
                ["confrontacion", "Confrontación"],
                ["compromiso", "Compromiso"],
                ["promesas", "Promesas"],
                ["critica", "Crítica"],
                ["estadisticas", "Estadísticas"],
                ["datos", "Datos"],
                ["debate", "Debate"],
                ["discurso_publico", "Discurso Público"],
                ["campana", "Campaña"],
                ["legislacion", "Legislación"],
                ["negociacion", "Negociación"],
                ["patriotico", "Patriótico"]
            ];
            var labelDescriptionsPie = {
                "Enojo": "Emoción intensa de ira o irritación.",
                "Frustración": "Sentimiento de decepción o impotencia debido a obstáculos o dificultades.",
                "Pasión": "Fuerte emoción o entusiasmo por algo.",
                "Entusiasmo": "Gran interés o emoción por algo que se espera o desea.",
                "Preocupación": "Estado de ansiedad o inquietud por algo que se percibe como un problema.",
                "Confianza": "Sentimiento de seguridad o fe en uno mismo o en los demás.",
                "Desesperación": "Sentimiento de angustia o falta de esperanza.",
                "Optimismo": "Actitud positiva o expectativa favorable hacia el futuro.",
                "Satisfacción": "Sentimiento de contento o gratificación por algo que se considera bueno o adecuado.",
                "Escepticismo": "Actitud de duda o incredulidad hacia algo.",
                "Desdén": "Sentimiento de menosprecio o desprecio hacia algo o alguien.",
                "Empatía": "Capacidad de comprender y compartir los sentimientos de otra persona.",
            };

            var labelDescriptionsPolar = {
                "Formal": "Utilizado en contextos serios o profesionales.",
                "Técnico": "Especializado en un área específica del conocimiento.",
                "Emocional": "Dirigido a evocar sentimientos y emociones.",
                "Persuasivo": "Diseñado para influir en las opiniones o acciones.",
                "Retórico": "Se enfoca en la persuasión y la elocuencia.",
                "Bipartidista": "Relacionado con la cooperación entre dos partidos políticos.",
                "Partidista": "Centrado en los intereses y objetivos de un partido político específico.",
                "Populista": "Dirigido a las preocupaciones y deseos del público general.",
                "Consenso": "Busca llegar a un acuerdo entre diferentes partes o grupos.",
                "Confrontación": "Utilizado para enfrentar directamente opiniones opuestas.",
                "Compromiso": "Orientado a alcanzar acuerdos intermedios entre diferentes posturas.",
                "Promesas": "Incluye compromisos o garantías de acciones futuras.",
                "Crítica": "Se centra en señalar defectos o problemas en políticas o acciones.",
                "Estadísticas": "Utiliza datos numéricos y análisis estadístico para respaldar argumentos.",
                "Datos": "Enfocado en la presentación objetiva de información.",
                "Debate": "Utilizado en discusiones estructuradas para argumentar.",
                "Discurso Público": "Dirigido a un público amplio en eventos públicos.",
                "Campaña": "Utilizado durante las campañas electorales para promover candidatos.",
                "Legislación": "Relacionado con la redacción de leyes y regulaciones.",
                "Negociación": "Utilizado en procesos de negociación para llegar a acuerdos."
            };
            ['PP', 'PSOE', 'VOX', 'SUMAR'].forEach(party => {
            let canvas = document.getElementById(`${party.toLowerCase()}Chart`);
            let context = canvas.getContext('2d');
            let chartOptions = {
                type: type,
                data: {
                    labels: Object.keys(jsonData[party][dropdownOption]).map(label => snakeToTitleCase(label, dropdownOption === 'sentiments' ? SENTIMENT_CHOICES : LANGUAGE_CHOICES)),
                    datasets: [{
                        data: Object.values(jsonData[party][dropdownOption]),
                        backgroundColor: Object.keys(jsonData[party][dropdownOption]).map((_, index) => getNextColor(index)),
                        borderColor: Object.keys(jsonData[party][dropdownOption]).map((_, index) => getNextColor(index)),
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        position: 'right',
                        labels: {
                            boxWidth: 20
                        }
                    },
                    tooltips: {
                        callbacks: {
                            title: function(tooltipItem, data) {
                                return data.labels[tooltipItem[0].index];
                            },
                            label: function(tooltipItem, data) {
                                var label = data.labels[tooltipItem.index];
                                var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                                var description = dropdownOption === 'sentiments' ? labelDescriptionsPie[label] : labelDescriptionsPolar[label] || '';
                                return value + " " + description ;
                            }
                        }
                    },
                    responsive: true,
                }
            };
            chartInstances.push(new Chart(context, chartOptions));
        });
    }

    function createBarCharts(dropdownOption, chartOptions) {
        var TOPIC_CHOICES = [
            ["economia", "Economía"],
            ["salud", "Salud"],
            ["educacion", "Educación"],
            ["medio_ambiente", "Medio ambiente"],
            ["derechos_civiles", "Derechos civiles"],
            ["inmigracion", "Inmigración"],
            ["seguridad_nacional", "Seguridad nacional"],
            ["politica_exterior", "Política exterior"],
            ["empleo", "Empleo"],
            ["criminalidad", "Criminalidad"],
            ["impuestos", "Impuestos"],
            ["bienestar_social", "Bienestar social"],
            ["tecnologia", "Tecnología"],
            ["energia", "Energía"],
            ["vivienda", "Vivienda"],
            ["corrupcion", "Corrupción"],
            ["libertad_de_prensa", "Libertad de prensa"],
            ["igualdad_de_genero", "Igualdad de género"],
            ["diversidad_y_discriminacion", "Diversidad y discriminación"],
            ["pobreza", "Pobreza"],
            ["infraestructura", "Infraestructura"],
            ["religion", "Religión"],
            ["derechos_de_las_minorias", "Derechos de las minorías"],
            ["paz_y_conflicto", "Paz y conflicto"],
            ["defensa", "Defensa"],
            ["legislacion", "Legislación"],
            ["presupuesto", "Presupuesto"],
            ["justicia", "Justicia"],
            ["ETA", "ETA"],
            ["historia_reciente_espana", "Historia reciente de España"],
            ["terrorismo", "Terrorismo"],
            ["acusaciones_políticas", "Acusaciones políticas"],
            ["campana_electoral", "Campaña electoral"],
            ["patriotismo", "Patriotismo"]
        ];
        ['PP', 'PSOE', 'VOX', 'SUMAR'].forEach(party => {
            let canvas = document.getElementById(`${party.toLowerCase()}Chart`);
            let context = canvas.getContext('2d');
            let data = jsonData[party][dropdownOption];
            let labels = Object.keys(data);
            let values = Object.values(data);
            let backgroundColors = labels.map((_, index) => getNextColor(index));
            let chart = new Chart(context, {
                type: 'bar',
                data: {
                    labels: labels.map(label => snakeToTitleCase(label, TOPIC_CHOICES)),
                    datasets: [{
                        label: party,
                        data: values,
                        backgroundColor: backgroundColors,
                        borderColor: backgroundColors,
                        borderWidth: 1
                    }]
                },
                options: chartOptions
            });
            chartInstances.push(chart);
        });
    }

    function getNextColor(index) {
        // Array of default Chart.js colors
        const defaultColors = [
            '#36a2eb', // Blue
            '#4bc0c0', // Green
            '#ffcd56', // Yellow
            '#ff9f40', // Orange
            '#c9cbcf', // Gray
            '#9966ff', // Purple
            '#ff6384'  // Indigo
        ];
        return defaultColors[index % defaultColors.length];
    }

    // Initially update the chart with the default option
    updateChart('topics');
</script>
{% endblock %}

