{% extends 'base.html' %}
{% load static %}

{% block title %}Analizar{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/output.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
{% endblock %}

{% block content %}

<div class="flex flex-col h-screen">
    <div class="flex">
        <h1 class="text-4xl text-blue-900 dark:text-gray-200 items-start px-4">Vídeos de {{ sentiment_type }}</h1>
    </div>
    <div class="grid grid-cols-3 gap-2 p-4">
        {% for video in videos %}
        <a href="{% url 'video' video.id %}"
            class="card bg-white dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 shadow-xl text-gray-600 dark:text-gray-400">
            <figure class="px-10 pt-10">
                <img src="{{ video.thumbnail }}" alt="{{ video.title }}" class="rounded-lg" />
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">{{video.political_party}}</h2>
                <p>{{video.title}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}